@model StudentCRUD.Models.ViewModels.StudentUpdateVM

<h2>Update Student</h2>

<form asp-action="Update" method="post">
    
    <input type="hidden" asp-for="Id"/>
    
    <div>
        <label>First Name</label>
        <input asp-for="FirstName"/>
    </div>

    <br/>

    <div>
        <label>Last Name</label>
        <input asp-for="LastName"/>
    </div>

    <br/>

    <div>
        <label>Age</label>
        <input asp-for="Age"/>
    </div>

    <br/>

    <div>
        <label>Address</label>
        <input asp-for="Address"/>
    </div>

    <br/>

    <div>
        <label>Mobile</label>
        <input asp-for="Mobile"/>
    </div>

    <br/>

    <button type="submit">Update</button>

</form>